body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-image: url('https://shorturl.at/GLXY3');
    background-size:50% ;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  
  
  form {
    max-width: 400px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #096081;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #333;
  }
  
  input[type="text"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #0a63a2;
    
  }
  
  input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .without_ampm::-webkit-datetime-edit-ampm-field {
      display: none;
    }
    input[type=time]::-webkit-clear-button {
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      -ms-appearance:none;
      appearance: none;
      margin: -10px; 
    }
    ::placeholder {
      color: rgb(203, 184, 184)(0, 89, 255);
      opacity: 1; 
    }